[submodule "models/ControlNet"]
	path = models/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "models/DiffMatch"]
	path = models/DiffMatch
	url = https://github.com/cvlab-kaist/DiffMatch.git
[submodule "models/LightGlue"]
	path = models/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "models/nerfstudio"]
	path = models/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "models/vggt"]
	path = models/vggt
	url = https://github.com/facebookresearch/vggt.git
