[submodule "final-project/models/ControlNet"]
	path = final-project/models/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "final-project/models/DiffMatch"]
	path = final-project/models/DiffMatch
	url = https://github.com/cvlab-kaist/DiffMatch.git
[submodule "final-project/models/LightGlue"]
	path = final-project/models/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "final-project/models/nerfstudio"]
	path = final-project/models/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "final-project/models/vggt"]
	path = final-project/models/vggt
	url = https://github.com/facebookresearch/vggt.git
